.container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.Logo {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navlink {
  display: contents;
}
.image {
  width: 135px;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.teleport-menu-mobile {
  top: var(--dl-space-space-tenunits);
  right: 0px;
  display: none;
  padding: var(--dl-space-space-tripleunit);
  position: absolute;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.link {
  color: var(--dl-color-primary-red);
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link1 {
  color: var(--dl-color-primary-red);
  margin-top: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.link2 {
  color: var(--dl-color-primary-red);
  display: none;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.link3 {
  color: var(--dl-color-primary-red);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.link4 {
  color: var(--dl-color-primary-red);
  display: none;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.link5 {
  color: var(--dl-color-primary-red);
  display: none;
}
.teleport-menu-burger {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.icon {
  width: 36px;
  height: 36px;
}




@media(max-width: 767px) {
  .teleport-menu-mobile {
    display: none;
  }
  .links-container {
    display: none;
  }
  .teleport-menu-burger {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-primary-orange);
  }
  .icon {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .teleport-menu-mobile {
    display: none;
  }
  .link1 {
    display: none;
  }
  .teleport-menu-burger {
    margin-left: var(--dl-space-space-doubleunit);
    background-color: var(--dl-color-primary-orange);
  }
}
