.container {
  display: flex;
  position: relative;
}
.text {
  color: var(--dl-color-gray-500);
  width: 70%;
  align-self: flex-start;
  text-align: left;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
}
@media(max-width: 767px) {
  .text {
    width: 90%;
  }
}
@media(max-width: 479px) {
  .text {
    width: 100%;
  }
}
