.navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 0px 1px 3px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.Logo {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navlink {
  display: contents;
}
.image {
  width: 135px;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.link {
  color: var(--dl-color-primary-red);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.link1 {
  color: var(--dl-color-primary-red);
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.link2 {
  color: var(--dl-color-primary-red);
  display: none;
}
.burger-menu {
  display: none;
  align-items: flex-start;
  flex-direction: column;
}
.icon {
  width: 36px;
  height: 36px;
}

@media(max-width: 767px) {
  .links-container {
    display: none;
  }
  .burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    margin-left: var(--dl-space-space-tripleunit);
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-primary-orange);
  }
  .icon {
    fill: var(--dl-color-gray-white);
  }
}
@media(max-width: 479px) {
  .burger-menu {
    margin-left: var(--dl-space-space-doubleunit);
    background-color: var(--dl-color-primary-orange);
  }
}
